<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#substation-1">Основное</a>
            </h4>
        </div>
        <div id="substation-1" class="panel-collapse collapse in">
            <div class="panel-body" id="common">
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#substation-2">Организация</a>
            </h4>
        </div>
        <div id="substation-2" class="panel-collapse collapse">
            <div class="panel-body" id="company">
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#substation-3">Электрическая часть</a>
            </h4>
        </div>
        <div id="substation-3" class="panel-collapse collapse">
            <div class="panel-body" id="electrical">
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#substation-4">
                    Прочее
                </a>
            </h4>
        </div>
        <div id="substation-4" class="panel-collapse collapse">
            <div class="panel-body" id="other">
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#substation-9">Статус ЖЦ</a>
            </h4>
        </div>
        <div id="substation-9" class="panel-collapse collapse">
            <div class="panel-body" id="lifecycle">
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#substation-6">Состояние</a>
            </h4>
        </div>
        <div id="substation-6" class="panel-collapse collapse">
            <div class="panel-body" id="condition">
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#substation-7">Испытания</a>
            </h4>
        </div>
        <div id="substation-7" class="panel-collapse collapse">
            <div class="panel-body" id="test">
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#substation-10">Учет</a>
            </h4>
        </div>
        <div id="substation-10" class="panel-collapse collapse">
            <div class="panel-body" id="erp">
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#substation-5">CIM</a>
            </h4>
        </div>
        <div id="substation-5" class="panel-collapse collapse">
            <div class="panel-body" id="cim">
            </div>
        </div>
    </div>
</div>
