<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#account-1">Основное</a>
            </h4>
        </div>
        <div id="account-1" class="panel-collapse collapse in">
            <div class="panel-body" id="common">
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#account-10">Учет</a>
            </h4>
        </div>
        <div id="account-10" class="panel-collapse collapse">
            <div class="panel-body" id="erp">
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#account-5">CIM</a>
            </h4>
        </div>
        <div id="account-5" class="panel-collapse collapse">
            <div class="panel-body" id="cim">
            </div>
        </div>
    </div>
</div>